*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    min-height: 93vh;
    /* background-image: url('https://images.alphacoders.com/133/1333097.png');
    background-size: cover; */
}

.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .wrong{
    color: red;
  }

  .register-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .train-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .train-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
  }
  .search-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
  }
  .source-dest{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .class-details{
    padding: 5px;
    margin: 5px;
    display: flex;
  }
  .class-type{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 50px;
    margin-right: 10px;
  }
  .buttons a{
    margin-right: 10px;
  }

  /* Navbar.css */
.navbar {
  background-color: #333;
  padding: 15px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 15px;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav{
  text-decoration: none;
  color: white;
}

.classInput{
  width: 120px;
}

.username{
  margin-left: auto;
  color: white;
}
.readonly{
  color: gray;
}
.land-btn{
  padding: 20px;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
}
.land-btn:hover{
  background-color: #333;
  color: white;
}